#mainwindow{
  visibility:hidden;
}
tr{
  vertical-align: top;
}
td{
  white-space: nowrap;
}
.ryo{
  padding: 0px 4px;
}
.bt{
  font-size:80%;
}
.view{
  border:0px none #ffffff;
  text-align:right;
  font-size:100%;
}
section.target {
  background: rgb(255,236,210);
  padding: 2px;
}

@media screen and (min-width:0px) and ( max-width:700px) {
  div.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    background: aliceblue;
    padding: 5px;
    border-bottom: 1px solid darkgray;
  }
  section.scroll-header {
    position: fixed;
    top: 38px;
    width: 100%;
    left: 0px;
    padding: 5px;
    border-bottom: 1px solid darkgray;
  }
  section.scroll-header > div {
    margin-bottom: 0px;
  }
  div.max-width-100\% {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
  }
  div.max-width-100\% > div {
    flex: auto;
  }
  input[type="button"] {
    margin-right: 5px;
    height: 48px;
    min-width: 48px;
    font-size: 100%;
    flex: auto;
  }
  input[type="button"].marubatu {
    width: 50%;
    height: 72px;
  }
  input[type="button"].delete {
    height: 60px;
  }
  input[type="text"] {
    height: 27px;
    font-size: 100%;
  }
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
}
@media screen and (min-width:1024px) {
  div.max-width-100\% {
    padding: 5px;
  }
  input[type="button"] {
    margin-right: 5px;
    height: 1.8em;
    min-width: 2em;
  }
}
