#mainwindow{
  visibility:hidden;
}
tr{
  vertical-align: top;
}
td{
  white-space: nowrap;
}
.ryo{
  padding: 0px 4px;
}
.bt{
  font-size:80%;
}
.ov{
  color: #ff0000;
}
.view{
  border:0px none #ffffff;
  text-align:right;
  font-size:100%;
}
.right{
  text-align:right;
}

@media screen and (min-width:0px) and ( max-width:1024px) {
  div.max-width-100\% {
    width: 100%;
    display: flex;
  }
  div.max-width-100\% > div {
    flex: auto;
  }
  input[type="button"] {
    margin-right: 5px;
    height: 48px;
    min-width: 48px;
    font-size: 100%;
  }
  input[type="text"] {
    height: 27px;
    font-size: 100%;
  }
}
@media screen and (min-width:1024px) {
  div.max-width-100\% {
    margin: 2px;
    margin-bottom: 15px;
    background: aliceblue;
    padding: 5px;
  }
  input[type="button"] {
    margin-right: 5px;
    height: 1.8em;
    min-width: 2em;
  }
}
